<main>
  <div id="about-area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <h3 class="main-title"> Angular12 </h3>
              </div>
              <div class="col-md-6">
                <iframe width="510" height="330" src="https://www.youtube.com/embed/LFlNU30u7d8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="col-md-6">
                <h3 class="about-title">DESENVOLVA EM TODAS AS PLATAFORMAS</h3>
                <p>Como plataforma, o Angular inclui:</p>

                <p>Aprenda uma maneira de construir aplicativos com Angular e reutilizar seu código e habilidades para construir aplicativos para qualquer destino de implantação. Para web, web móvel, móvel nativo e desktop nativo.</p>
              </div>



              <div class="col-md-12 mt-5">
                  <h3 class="about-title" style="text-align: center;">Módulos usados com frequencia</h3>
                  <p style="text-align: justify;">Um aplicativo Angular precisa de pelo menos um módulo que funcione
                      como o módulo raiz. À medida que adiciona recursos ao seu aplicativo, você pode adicioná-los em
                      módulos. Os seguintes são módulos angulares usados ​​com frequência, com exemplos de algumas das
                      coisas que eles contêm:</p>
              </div>
          </div>
      </div>
  </div>


